.cta {
  text-align: center;
}

.cta .btn-secondary {
  padding: 1.7rem 3.5rem 1.7rem 3.2rem;
  text-align: center;
  margin-top: 4rem;
}

/* Media Queries */
@media screen and (min-width: 889px) {
  .cta {
    text-align: left;
    display: grid;
    grid-template-columns: 350px 1fr 162px;
    justify-content: space-between;
    align-items: center;
    gap: 3.2rem;
  }

  .cta .section-heading {
    width: 350px;
    position: relative;
  }

  .divider {
    width: 100%;
    height: 1px;
    background: var(--grayish-dark-blue-transparent);
  }

  .cta .btn-secondary {
    margin-top: 0;
    padding: 1.7rem 0;
  }
}
