@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;700&family=Public+Sans:ital,wght@0,400;1,700&display=swap");

:root {
  --primary-font: "Public Sans", sans-serif;
  --secondary-font: "Ibarra Real Nova", serif;
  --slightly-desaturated-cyan: hsl(167, 36%, 54%);
  --dark-blue: hsl(205, 41%, 21%);
  --grayish-dark-blue: hsl(245, 10%, 22%);
  --grayish-dark-blue-transparent: hsla(245, 10%, 22%, 0.15);
  --input-bg: hsla(245, 10%, 22%, 0.1);
  --bright-red: hsl(0, 90%, 57%);
  --light-grey: hsl(240, 2%, 92%);
  --very-light-grey: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --black-transparent: hsla(0, 0%, 0%, 0.1);
}

/* General Styles */

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--primary-font);
  font-weight: 400;
  background-color: var(--very-light-grey);
  color: var(--grayish-dark-blue);
}

button {
  background: none;
  border: none;
  padding: 0;
}

img,
svg,
picture {
  display: block;
}

a {
  text-decoration: none;
}
